<button (click)="refresh()">Refresh forecast</button>
<button (click)="throw()">Throw error</button>

@if (weatherforecastResource.isLoading()) {
  <div>Loading...</div>
}
@else if (weatherforecastResource.error()) {
  <div>{{ $any(weatherforecastResource.error()).message }}</div>
}
@else {
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>TemperatureC</th>
        <th>TemperatureF</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      @for (forecast of weatherforecastResource.value(); track forecast.date)
      {
        <tr>
          <td>{{ forecast.date | date }}</td>
          <td>{{ forecast.temperatureC }}</td>
          <td>{{ forecast.temperatureF }}</td>
          <td>{{ forecast.summary }}</td>
        </tr>
      }
    </tbody>
  </table>
}
